Enter database credentials, to the [TPC-H Snowflake sample database](https://docs.snowflake.com/en/user-guide/sample-data-tpch).

In [1]:
import os

account = "hdb90888"
username = "cristiscu"
password = os.environ['SNOWSQL_PWD']
database = "SNOWFLAKE_SAMPLE_DATA"
schema = "TPCH_SF1"
warehouse = "COMPUTE_WH"
role = "ACCOUNTADMIN"

Connect to the Snowflake sample database from LangChain.

In [2]:
from langchain import SQLDatabase
url = f"snowflake://{username}:{password}@{account}/{database}/{schema}?warehouse={warehouse}&role={role}"
db = SQLDatabase.from_uri(url)
print(db.table_info)

CREATE TABLE customer (
	c_custkey DECIMAL(38, 0) NOT NULL,
	c_name VARCHAR(25) NOT NULL,
	c_address VARCHAR(40) NOT NULL,
	c_nationkey DECIMAL(38, 0) NOT NULL,
	c_phone VARCHAR(15) NOT NULL,
	c_acctbal DECIMAL(12, 2) NOT NULL,
	c_mktsegment VARCHAR(10),
	c_comment VARCHAR(117)
)

/*
3 rows from customer table:
c_custkey	c_name	c_address	c_nationkey	c_phone	c_acctbal	c_mktsegment	c_comment
60001	Customer#000060001	9Ii4zQn9cX	14	24-678-784-9652	9957.56	HOUSEHOLD	l theodolites boost slyly at the platelets: permanently ironic packages wake slyly pend
60002	Customer#000060002	ThGBMjDwKzkoOxhz	15	25-782-500-8435	742.46	BUILDING	 beans. fluffily regular packages
60003	Customer#000060003	Ed hbPtTXMTAsgGhCr4HuTzK,Md2	16	26-859-847-7640	2526.92	BUILDING	fully pending deposits sleep quickly. blithely unusual accounts across the blithely bold requests ar
*/


CREATE TABLE lineitem (
	l_orderkey DECIMAL(38, 0) NOT NULL,
	l_partkey DECIMAL(38, 0) NOT NULL,
	l_suppkey DECIMAL(38, 0) NOT NULL,
	l_linenumber DECIMAL(38, 0) NOT NULL,
	l_quantity DECIMAL(12, 2) NOT NULL,
	l_extendedprice DECIMAL(12, 2) NOT NULL,
	l_discount DECIMAL(12, 2) NOT NULL,
	l_tax DECIMAL(12, 2) NOT NULL,
	l_returnflag VARCHAR(1) NOT NULL,
	l_linestatus VARCHAR(1) NOT NULL,
	l_shipdate DATE NOT NULL,
	l_commitdate DATE NOT NULL,
	l_receiptdate DATE NOT NULL,
	l_shipinstruct VARCHAR(25) NOT NULL,
	l_shipmode VARCHAR(10) NOT NULL,
	l_comment VARCHAR(44) NOT NULL
)

/*
3 rows from lineitem table:
l_orderkey	l_partkey	l_suppkey	l_linenumber	l_quantity	l_extendedprice	l_discount	l_tax	l_returnflag	l_linestatus	l_shipdate	l_commitdate	l_receiptdate	l_shipinstruct	l_shipmode	l_comment
4800001	109033	1544	1	5.00	5210.15	0.05	0.08	N	O	1997-05-18	1997-05-10	1997-06-04	NONE	SHIP	uick depos
4800002	121176	1177	1	12.00	14366.04	0.08	0.07	N	O	1996-05-06	1996-05-08	1996-05-11	TAKE BACK RETURN	REG AIR	de the furiously careful theodolites. da
4800002	199970	5009	2	15.00	31049.55	0.02	0.02	N	O	1996-06-23	1996-05-27	1996-07-05	COLLECT COD	AIR	ly. blithely even foxes cajole slyly p
*/


CREATE TABLE nation (
	n_nationkey DECIMAL(38, 0) NOT NULL,
	n_name VARCHAR(25) NOT NULL,
	n_regionkey DECIMAL(38, 0) NOT NULL,
	n_comment VARCHAR(152)
)

/*
3 rows from nation table:
n_nationkey	n_name	n_regionkey	n_comment
0	ALGERIA	0	 haggle. carefully final deposits detect slyly agai
1	ARGENTINA	1	al foxes promise slyly according to the regular accounts. bold requests alon
2	BRAZIL	1	y alongside of the pending deposits. carefully special packages are about the ironic forges. slyly s
*/


CREATE TABLE orders (
	o_orderkey DECIMAL(38, 0) NOT NULL,
	o_custkey DECIMAL(38, 0) NOT NULL,
	o_orderstatus VARCHAR(1) NOT NULL,
	o_totalprice DECIMAL(12, 2) NOT NULL,
	o_orderdate DATE NOT NULL,
	o_orderpriority VARCHAR(15) NOT NULL,
	o_clerk VARCHAR(15) NOT NULL,
	o_shippriority DECIMAL(38, 0) NOT NULL,
	o_comment VARCHAR(79) NOT NULL
)

/*
3 rows from orders table:
o_orderkey	o_custkey	o_orderstatus	o_totalprice	o_orderdate	o_orderpriority	o_clerk	o_shippriority	o_comment
600001	100942	O	80032.03	1995-10-13	3-MEDIUM	Clerk#000000052	0	ts promise slyly. express packages above the carefully ironic account
600002	12859	F	145855.77	1992-07-21	1-URGENT	Clerk#000000904	0	 furiously according to the quickly ironic requests. ironic accounts ha
600003	101318	F	188614.83	1992-11-27	4-NOT SPECIFIED	Clerk#000000283	0	 slyly ironic packages. quickly pending foxes haggle across
*/


CREATE TABLE part (
	p_partkey DECIMAL(38, 0) NOT NULL,
	p_name VARCHAR(55) NOT NULL,
	p_mfgr VARCHAR(25) NOT NULL,
	p_brand VARCHAR(10) NOT NULL,
	p_type VARCHAR(25) NOT NULL,
	p_size DECIMAL(38, 0) NOT NULL,
	p_container VARCHAR(10) NOT NULL,
	p_retailprice DECIMAL(12, 2) NOT NULL,
	p_comment VARCHAR(23)
)

/*
3 rows from part table:
p_partkey	p_name	p_mfgr	p_brand	p_type	p_size	p_container	p_retailprice	p_comment
120001	yellow hot rose blue green	Manufacturer#1	Brand#15	STANDARD ANODIZED STEEL	38	SM BAG	1021.00	he unusual requests.
120002	yellow pale blanched gainsboro moccasin	Manufacturer#4	Brand#45	STANDARD PLATED BRASS	22	WRAP CAN	1022.00	e furiously even ex
120003	metallic rosy gainsboro dark spring	Manufacturer#4	Brand#45	PROMO ANODIZED NICKEL	48	LG DRUM	1023.00	ounts. c
*/


CREATE TABLE partsupp (
	ps_partkey DECIMAL(38, 0) NOT NULL,
	ps_suppkey DECIMAL(38, 0) NOT NULL,
	ps_availqty DECIMAL(38, 0) NOT NULL,
	ps_supplycost DECIMAL(12, 2) NOT NULL,
	ps_comment VARCHAR(199)
)

/*
3 rows from partsupp table:
ps_partkey	ps_suppkey	ps_availqty	ps_supplycost	ps_comment
180001	2	6212	314.54	furiously ironic instructions. slyly unusual platelets cajole furiously above the slyly silent packa
180001	2520	3959	906.92	nd the furiously unusual ideas haggle always ironic, pending pains. ideas wake final, ironic foxes?
180001	5038	2591	30.53	ly final pinto beans. sometimes regular accounts cajole slyly according to the final packages.
*/


CREATE TABLE region (
	r_regionkey DECIMAL(38, 0) NOT NULL,
	r_name VARCHAR(25) NOT NULL,
	r_comment VARCHAR(152)
)

/*
3 rows from region table:
r_regionkey	r_name	r_comment
0	AFRICA	lar deposits. blithely final packages cajole. regular waters are final requests. regular accounts ar
1	AMERICA	hs use ironic, even requests. s
2	ASIA	ges. thinly even pinto beans ca
*/


CREATE TABLE supplier (
	s_suppkey DECIMAL(38, 0) NOT NULL,
	s_name VARCHAR(25) NOT NULL,
	s_address VARCHAR(40) NOT NULL,
	s_nationkey DECIMAL(38, 0) NOT NULL,
	s_phone VARCHAR(15) NOT NULL,
	s_acctbal DECIMAL(12, 2) NOT NULL,
	s_comment VARCHAR(101)
)

/*
3 rows from supplier table:
s_suppkey	s_name	s_address	s_nationkey	s_phone	s_acctbal	s_comment
1	Supplier#000000001	 N kD4on9OM Ipw3,gf0JBoQDd7tgrzrddZ	17	27-918-335-1736	5755.94	each slyly above the careful
2	Supplier#000000002	89eJ5ksX3ImxJQBvxObC,	5	15-679-861-2259	4032.68	 slyly bold instructions. idle dependen
3	Supplier#000000003	q1,G3Pj6OjIuUYfUoH18BFTKP5aU9bEV3	1	11-383-516-1199	4192.40	blithely silent requests after the express dependencies are sl
*/

Connect to ChatGPT (the LLM).

In [3]:
from langchain_openai import OpenAI
llm = OpenAI(openai_api_key=os.environ["OPENAI_API_KEY"])

Setup the LLM chain, to generate SQL queries with LangChain.

In [4]:
from langchain.chains import create_sql_query_chain
database_chain = create_sql_query_chain(llm, db)

Connect to Snowflake, with a Snowpark session.

In [5]:
from snowflake.snowpark import Session
pars = {
    "account": account,
    "user": username,
    "password": password,
    "database": database,
    "schema": schema,
    "warehouse": warehouse,
    "role": role
}
session = Session.builder.configs(pars).create()

Create a generic function, to generate and run query.

In [6]:
def run(prompt):
    sql_query = database_chain.invoke({"question": prompt})
    print(sql_query)
    session.sql(sql_query).show()

Run a first query.

In [12]:
run("Select top 10 paying customers from Canada")
# run("Select top 10 customers from Canada with highest sum of C_ACCTBAL value")

SELECT c_name, c_address, c_phone, c_acctbal
FROM customer
INNER JOIN nation ON customer.c_nationkey = nation.n_nationkey
WHERE n_name = 'CANADA'
ORDER BY c_acctbal DESC
LIMIT 10
----------------------------------------------------------------------------------------------
|"C_NAME"            |"C_ADDRESS"                            |"C_PHONE"        |"C_ACCTBAL"  |
----------------------------------------------------------------------------------------------
|Customer#000112796  |hC8PTDi,13j9N                          |13-428-273-3134  |9998.32      |
|Customer#000080736  |mqVUr4Voq5XPO2lswhTkC0sY5p7w           |13-870-874-2736  |9998.01      |
|Customer#000064147  |TfbulTzPrCK                            |13-282-212-7949  |9997.50      |
|Customer#000121024  |6bMiL9MlKgeeo                          |13-422-755-1125  |9996.90      |
|Customer#000138209  |uHUzB66c4u3cj4                         |13-856-253-6147  |9996.26      |
|Customer#000027363  |fGIwPAoPVVQewiH kjeKekVOkXfinclDjURQc  |13-427-983-8166  |9995.15      |
|Customer#000057767  |fNL0cvmmbsqtEqDazBYI6N                 |13-792-613-3836  |9992.91      |
|Customer#000077158  |mrdA1nJ5EiFUdu 8cvkW,W                 |13-382-725-8065  |9991.02      |
|Customer#000036470  |txGVZa1sWzdHLVdczB826yu3xTi87o,qhjTC6  |13-909-965-3416  |9990.92      |
|Customer#000001701  |IbyUBDvH,eRszYTbnEDHGu16B4UsJSbQaA7F   |13-397-730-2856  |9986.13      |
----------------------------------------------------------------------------------------------

Run a GROUP BY query.

In [9]:
run("Show me the total of Customers per Nation")

SELECT c_nationkey, COUNT(*) AS Total_Customers
            FROM customer
            GROUP BY c_nationkey
-------------------------------------
|"C_NATIONKEY"  |"TOTAL_CUSTOMERS"  |
-------------------------------------
|14             |5992               |
|10             |6009               |
|21             |6008               |
|23             |6011               |
|1              |5975               |
|5              |5952               |
|7              |5908               |
|17             |5975               |
|19             |6100               |
|12             |5948               |
-------------------------------------

Try to generate the complex query described in the documentation.

In [10]:
run("""Show me a query that lists totals for extended price, discounted extended price, 
    discounted extended price plus tax, average quantity, average extended price, 
    and average discount. These aggregates are grouped by RETURNFLAG and LINESTATUS, 
    and listed in ascending order of RETURNFLAG and LINESTATUS. 
    A count of the number of line items in each group is included""")

SELECT l_returnflag, l_linestatus, SUM(l_extendedprice) AS extended_price_total, SUM(l_extendedprice*(1-l_discount)) AS discounted_extended_price_total, SUM(l_extendedprice*(1-l_discount)*(1+l_tax)) AS discounted_extended_price_tax_total, AVG(l_quantity) AS average_quantity, AVG(l_extendedprice) AS average_extended_price, AVG(l_discount) AS average_discount, COUNT(*) AS line_item_count
FROM lineitem
GROUP BY l_returnflag, l_linestatus
ORDER BY l_returnflag ASC, l_linestatus ASC
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"L_RETURNFLAG"  |"L_LINESTATUS"  |"EXTENDED_PRICE_TOTAL"  |"DISCOUNTED_EXTENDED_PRICE_TOTAL"  |"DISCOUNTED_EXTENDED_PRICE_TAX_TOTAL"  |"AVERAGE_QUANTITY"  |"AVERAGE_EXTENDED_PRICE"  |"AVERAGE_DISCOUNT"  |"LINE_ITEM_COUNT"  |
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|N               |O               |114935210409.19         |109189591897.4720                  |113561024263.013782                    |25.50201964         |38248.01560906            |0.05000026          |3004998            |
|R               |F               |56568041380.90          |53741292684.6040                   |55889619119.831932                     |25.50579361         |38250.85462610            |0.05000941          |1478870            |
|A               |F               |56586554400.73          |53758257134.8700                   |55909065222.827692                     |25.52200585         |38273.12973462            |0.04998530          |1478493            |
|N               |F               |1487504710.38           |1413082168.0541                    |1469649223.194375                      |25.51647192         |38284.46776085            |0.05009343          |38854              |
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------